<mat-slide-toggle [(ngModel)]="forcedIsDeepFake" color="primary">
  <span style="color: white;">DeepFake?</span> 
</mat-slide-toggle>

<div 
  *ngIf="isScanned && !isLoading"
  class="header"
>
  <div class="top-container">
    <img src="assets/logo.png" alt="V.I.V.I" class="top-icon" />
  </div>
  <!-- <button
    class="new-scan-btn"
    (click)="cancelSelection()"
  >
    New Scan
  </button> -->
</div>

<!-- Single webpage build -->
<!-- START of Region 1: LANDING PAGE ################################################################################## -->
<div *ngIf="!isScanned && !isLoading" class="container">
  <div class="slogan">
    <img src="assets/logo.png" alt="V.I.V.I" class="top-icon" />
    <p>Video Integrity, Vision Intelligence</p>
    <p class="gold-text">for Public Safety</p>
  </div>

  <!-- New file selector with text box and upload icon button -->
  <div class="file-selector">
    <button (click)="triggerFileSelection()" class="add-file-btn">
      <input
        type="file"
        id="hiddenFileInput"
        accept="video/mp4"
        (change)="onFileSelected($event)"
        style="display: none;"
      />
      <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
    <input
      #fileInput
      type="text"
      [(ngModel)]="filePath"
      placeholder="Place a video link or upload video"
      (input)="onUrlInput()"
      [disabled]="selectedFile !== null"
      class="home-input-bar"
    />
    <button 
      (click)="scanVideo()" 
      class="upload-btn"
      [disabled]="!((isValidUrl(filePath) || selectedFile))"
    >
      <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
    </button>
  </div>  

  <!-- <div>
    <button
      class="buttons"
      (click)="scanVideo()"
      [disabled]="!((isValidUrl(filePath) || selectedFile))"
    >
      {{ scanButtonText }}
    </button>
  </div> -->
</div>
<!-- END of Region 1: LANDING PAGE ################################################################################## -->

<!-- START of Region 2: DEEPFAKE PAGE ################################################################################## -->
<div *ngIf="isScanned && !isLoading && (!isValidVideo || forcedIsDeepFake)" class="results">
  <mat-card-header class="card-header">
      <mat-card-title class="title-deepfake-false card-title" >
        Thank you for your Submission!
      </mat-card-title>
    </mat-card-header>
    <div class="card-body-split">
      <mat-card class="card">
        <mat-card-actions class="card-body-split-child" style="padding-top: 0; padding-bottom: 0;">
          <div *ngIf="videoURL" class="video-player">
            <video width="592" height="333" controls>
              <source [src]="videoURL" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>
          <div *ngIf="videoLink" class="video-player">
            <iframe
              width="592" height="333"
              [src]="videoLink"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </mat-card-actions>
      </mat-card>
      <mat-card class="card">
        <mat-card-actions class="card-body-split-child">
          <mat-card-header class="card-header">
            <mat-card-title class="card-title">
              Video Details
            </mat-card-title>
          </mat-card-header>
          <!-- <img class="results-meter-icon" src="assets/isDeepfake_false.png" alt="isNotDeepfake"/> -->
            <div class="card-content-label">Filename: <span>{{selectedFile!.name}}</span></div>
            <div *ngIf="videoURL" class="card-content-label">Size: <span>{{formatBytes(selectedFile!.size)}}</span></div>
            <div *ngIf="videoURL" class="card-content-label">Duration: <span>{{formatDuration(videoDuration)}}</span></div>
            <div class="card-content-label">Submission Date: <span>{{getDT(false)}}</span></div>
            <div class="card-content-label">Submission Time: <span>{{getDT(true)}}</span></div>
        </mat-card-actions>
      </mat-card>
    </div>
    

  <mat-card *ngIf="hasEmbed" class="card" style="margin-top: 2rem;">
    
    
  </mat-card>
  <mat-card class="card">
    <mat-card-header class="card-header with-background">
      <mat-card-title class="card-title">
        Case Report Details
      </mat-card-title>
    </mat-card-header>
    <mat-card-actions class="card-body label-gaps">
      <div class="card-label-container">
        <div class="card-content-label">Case ID</div>
        <input disabled type="text" [(ngModel)]="uuid" placeholder="Case ID" class="card-input-box report-labels"/>
      </div>
      <div class="card-label-container">
        <div class="card-content-label">Date & Time of Report</div>
        <input disabled type="text" [value]="formatDT('D MMMM YYYY, h:mm A')"  placeholder="Date & Time of Report" class="card-input-box report-labels"/>
      </div>
    </mat-card-actions>
    <mat-card-actions class="card-body subcontent" style="border-radius: 0;">
      <div class="card-label-container">
        <div class="card-content-label">Where did you get this video from?</div>
        <input type="text" [(ngModel)]="addDesc" placeholder="WhatsApp, Facebook, TikTok, Telegram etc." class="card-input-box"/>
      </div>
    </mat-card-actions>
    <div class="card-footer">
      <button
        class="buttons"
        (click)="uploadVideo()"
        [disabled]="false"
      >
        Submit to Authority
      </button>
    </div>
  </mat-card>
</div>
<!-- END of Region 2: DEEPFAKE PAGE ################################################################################## -->



<!-- START of Region 3: AUTHENTIC PAGE ################################################################################## -->
<div *ngIf="isScanned && !isLoading && isValidVideo && !forcedIsDeepFake" class="results">
    <mat-card-header class="card-header">
      <mat-card-title class="title-deepfake-false card-title" >
        Thank you for your Submission!
      </mat-card-title>
    </mat-card-header>
    <div class="card-body-split">
      <mat-card class="card">
        <mat-card-actions class="card-body-split-child" style="padding-top: 0; padding-bottom: 0;">
          <div *ngIf="videoURL" class="video-player">
            <video width="592" height="333" controls>
              <source [src]="videoURL" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>
          <div *ngIf="videoLink" class="video-player">
            <iframe
              width="592" height="333"
              [src]="videoLink"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </mat-card-actions>
      </mat-card>
      <mat-card class="card">
        <mat-card-actions class="card-body-split-child">
          <mat-card-header class="card-header">
            <mat-card-title class="card-title">
              Video Details
            </mat-card-title>
          </mat-card-header>
          <!-- <img class="results-meter-icon" src="assets/isDeepfake_false.png" alt="isNotDeepfake"/> -->
            <div class="card-content-label">Filename: <span>{{selectedFile!.name}}</span></div>
            <div *ngIf="videoURL" class="card-content-label">Size: <span>{{formatBytes(selectedFile!.size)}}</span></div>
            <div *ngIf="videoURL" class="card-content-label">Duration: <span>{{formatDuration(videoDuration)}}</span></div>
            <div class="card-content-label">Submission Date: <span>{{getDT(false)}}</span></div>
            <div class="card-content-label">Submission Time: <span>{{getDT(true)}}</span></div>
        </mat-card-actions>
      </mat-card>
    </div>
    

  <mat-card *ngIf="hasEmbed" class="card" style="margin-top: 2rem;">
    
    
  </mat-card>
  <mat-card class="card">
    <mat-card-header class="card-header with-background">
      <mat-card-title class="card-title">
        Case Report Details
      </mat-card-title>
    </mat-card-header>
    <mat-card-actions class="card-body label-gaps">
      <div class="card-label-container">
        <div class="card-content-label">Case ID</div>
        <input disabled type="text" [(ngModel)]="uuid" placeholder="Case ID" class="card-input-box report-labels"/>
      </div>
      <div class="card-label-container">
        <div class="card-content-label">Date & Time of Report</div>
        <input disabled type="text" [value]="formatDT('D MMMM YYYY, h:mm A')"  placeholder="Date & Time of Report" class="card-input-box report-labels"/>
      </div>
    </mat-card-actions>
    <mat-card-actions class="card-body subcontent">
      <div class="card-label-container">
        <div class="card-content-label">Incident Details</div>
        <textarea 
          [(ngModel)]="videoDesc" 
          placeholder="Describe what you saw in the video." 
          class="card-textarea">
        </textarea>
      </div>
    </mat-card-actions>
    <mat-card-actions class="card-body subcontent" style="border-radius: 0;">
      <div class="card-label-container">
        <div class="card-content-label">Where did you get this video from?</div>
        <input type="text" [(ngModel)]="addDesc" placeholder="WhatsApp, Facebook, TikTok, Telegram etc." class="card-input-box"/>
      </div>
    </mat-card-actions>
    <div class="card-footer">
      <button
        class="buttons"
        (click)="uploadVideo()"
        [disabled]="false"
      >
        Submit to Authority
      </button>
    </div>
  </mat-card>
</div>
<!-- END of Region 3: AUTHENTIC PAGE ################################################################################## -->



<!-- START of Region 4: LOADING PAGE ################################################################################## -->
<div *ngIf="isLoading" class="loading">
  <!-- <div class="image-container"> -->
  <div>
    <h1 class="loading-text">
      {{loadingText}}
      <span class="dot">.</span>
      <span class="dot">.</span>
      <span class="dot">.</span>
    </h1>

  </div>
</div>
<!-- END of Region 4: LOADING PAGE ################################################################################## -->

