/* Centering the container */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
  text-align: center;
  background-color: white; /* Optional background color */
}

.card-title{
  font-family:'Avenir', sans-serif !important;
  font-weight: bold;
}

.avenir{
  font-family:'Avenir', sans-serif !important;
}

.slogan  {
  margin: 10px 0;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: normal;
  line-height: 16px;
  word-break: keep-all;
  width:450px;

  h3{
    color: rgb(66, 185, 185);
    font-size: 32px;
    font-weight: normal;
  }

  p{
    font-size: 24px;
  }
}


.file-selector {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  background: #f4f4f4;
  width: 800px;
  height: 60px;
}

.home-input-bar {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 0;
  background: none;
  margin-left: 8px;
}

.rand-roll {
  font-size: 18px;
  font-weight: bold;
  color: #555;
  margin-top: 10px;
}

.metadata {
  margin-top: 15px;
}

.results {
  padding: 20px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 1050px;
}

.buttons {
  margin-top: 20px;
  width: 300px;  
  height: 50px;
  background-color: #046BA9;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  color: white;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:not([disabled]):hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.upload-btn {
  color: #A0B1BB;
  background:none;
  padding: 10px 15px;
  font-size: 32px;
  cursor: pointer;
  margin-right: 12px;
}

.header {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #dddddd;
}

.new-scan-btn{
  background: transparent;
  border: 1px solid #058FE1;
  color: black;
  display:inline;
  position: relative;
  top: -20px; 
  left: 60vw;
}

.new-scan-btn:hover{
  color: white;
}

/* Style for the icon at the top */
.top-icon {
  width: 222px;
  height: 90px;
  display:inline;
  position: relative;
  top: 0; 
  left: 10%;
}

/* Style for the icon at the top */
.loading-icon {
  width: 800px;
  height: 600px;
  display:block;
  position: relative;
  top: 50%; 
  left: 50%;
}

.image-container {
  background-image: url('../../assets/loading.gif');
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  left:50%;
  top:50%;
  transform: translate(-400px, 0);
  width: 800px;
  height: 600px;
}

.loading-text {
  position: relative;
  text-align: center;
  top:50%;
  transform: translate(15px, 100px);
}

.dot {
  animation: dotAnimation 1.5s infinite steps(1);
}

.dot:nth-child(1) {
  animation-delay: 0s;
}

.dot:nth-child(2) {
  animation-delay: 0.5s;
}

.dot:nth-child(3) {
  animation-delay: 1s;
}

@keyframes dotAnimation {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.card{
  background: white;
  border: 1px solid #D0D8DD;
  border-radius: 2px;
  font-size: 16px;
}

.card-header{
  background: #F7F9F9;
  padding: 12px;
  padding-left: 24px;
  padding-right: 24px;
}

.card-body{
  display:flex;
  flex-direction: row;
  padding:24px;
}

.card-label-container{
  flex-direction: column;
  width: 100%;
}

.label-gaps{
  gap: 2rem;
}

.card-content-label{
  margin-bottom:1rem;
  font-weight: bold;
  span{
    font-weight: normal;
  }
}

.subcontent{
  padding-top: 0;
}

.title-deepfake-true{
  color: #F59E0B;
}

.title-deepfake-false{
  color: #10B981;
}

.results-meter-icon{
  margin: 2rem;
}

.debug{
  border:1px solid red;
}

.card-input-box{
  border: 1px solid #B8C5CC;
  margin: 0;
  border-radius: 2px;
  width: 97.5%;
  padding: 10px;
  font-size: 16px;
}

.report-labels{
  width: 92.5%;
}

.video-player{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

video {
  border-radius: 5px;
  border: 1px solid #B8C5CC;
}

.card-textarea {
  font-family: 'Inter', sans-serif;
  width: 97% !important;
  height: 120px;
  padding: 10px;
  font-size: 16px;
  border-radius: 2px;
  border: 1px solid #B8C5CC;
  resize: none;
}