/* Centering the container */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
  text-align: center;
  background-color: none;
  color: white;
}

.card-title{
  font-family: Outfit;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.card-footer{
  display:flex;
  flex-direction: column;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.30);
  padding-left: 32px;
  padding-bottom: 32px;
}

.avenir{
  font-family:'Avenir', sans-serif !important;
}

.slogan  {
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 500;
  line-height: 16px;
  word-break:normal;

  p{
    font-size: 64px;
    margin-top : 48px;
  }
}

.gold-text {
  color: orange;
  font-weight: 800;
  margin-top: 64px;
}


.file-selector {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 880px;
  height: 60px;
  border-radius: 4px;
  border: 1px solid var(--Colours-Neutral-Neutral-3, #3F4E57);
  background: var(--Colours-Neutral-Neutral-2, #252F34);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.home-input-bar {
  width: 100%;
  border: none;
  border-radius: 0;
  background: none;
  color: #E7ECEE;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.home-input-bar::placeholder {
  color: #A0B1BB;
  opacity: 1; /* prevents some browsers from lowering opacity */
}


.rand-roll {
  font-size: 18px;
  font-weight: bold;
  color: #555;
  margin-top: 10px;
}

.metadata {
  margin-top: 15px;
}

.results {
  padding: 20px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 1488px;
  min-width: 680px;
}

.buttons {
  display: flex;
  width: 180px;
  height: 40px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 2px;
  background: var(--Colours-Warning-Warning-6, #F59E0B);
  color: black;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  color: white;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:not([disabled]):hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.add-file-btn {
  color: #A0B1BB;
  background:none;
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
}

.upload-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 15px;
}

.upload-btn:disabled {
  background: transparent;
  opacity: 1;              /* prevent faded look */
  cursor: not-allowed;     /* still show it's disabled */
}

.upload-btn i {
  font-size: 24px;
  color: #4B5E68;   /* default = disabled look */
  transition: color 0.2s ease;
}

.upload-btn:not(:disabled) i {
  color: orange;
}

.upload-btn:not(:disabled):hover i {
  color: darkorange;
}

.header {
  width: 100%;
  height: 100px;
  /* border-bottom: 1px solid #dddddd; */
}

.new-scan-btn{
  background: transparent;
  border: 1px solid #058FE1;
  color: black;
  display:inline;
  position: relative;
  top: 40px; 
  left: -10vw;
  float: right;
}

.new-scan-btn:hover{
  color: white;
}

.top-container {
  display: flex;
  justify-content: center; /* horizontal center */
}

/* Style for the icon at the top */
.top-icon {
  margin-top:32px;
  width: 64px;
  height: 64px;
}

/* Style for the icon at the top */
.loading-icon {
  width: 800px;
  height: 600px;
  display:block;
  position: relative;
  top: 50%; 
  left: 50%;
}

.image-container {
  background-image: url('../../assets/loading.gif');
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  left:50%;
  top:50%;
  transform: translate(-400px, 0);
  width: 800px;
  height: 600px;
}

.loading-text {
  position: relative;
  text-align: center;
  top:50%;
  transform: translate(15px, 0);
}

.dot {
  animation: dotAnimation 1.5s infinite steps(1);
}

.dot:nth-child(1) {
  animation-delay: 0s;
}

.dot:nth-child(2) {
  animation-delay: 0.5s;
}

.dot:nth-child(3) {
  animation-delay: 1s;
}

@keyframes dotAnimation {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.card{
  font-size: 16px;
  background: none;
  color: white;
}

.card-header{
  padding: 0;
  padding-bottom: 16px;
  color: white;
  font-size: 28px;
}

.card-body{
  display:flex;
  flex-direction: row;
  padding:32px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.30);
}

.card-body-split{
  display: flex;
  align-items: center;
  gap: 24px;
}

.card-body-split > * {
  flex: 1;
  min-width: 0;
}

.card-body-split-child{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  padding:32px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.30);
  min-height: 333px;
  min-width: 100%;
}

.card-label-container{
  flex-direction: column;
  width: 100%;
}

.card-label-container-details{
  flex-direction: column;
  width: 100%;
  height: 105px;
}

.label-gaps{
  gap: 2rem;
}

.card-content-label{
  font-family: 'Inter', sans-serif;
  margin-bottom:1rem;
  font-weight: bold;
  span{
    font-weight: normal;
  }
}

.subcontent{
  padding-top: 0;
}

.results-meter-icon{
  margin: 2rem;
}

.debug{
  border:1px solid red;
}

.card-input-box{
  margin: 0;
  border-radius: 2px;
  width: 97.5%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--Colours-Neutral-Neutral-4, #4B5E68);
  background: var(--Colours-Neutral-Neutral-2, #252F34);
  color: white;
}

.report-labels{
  width: 92.5%;
  border-radius: 2px;
  
  cursor: not-allowed;
}

.video-player{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

video {
  border-radius: 5px;
  border: 1px solid #B8C5CC;
}

.card-textarea {
  font-family: 'Inter', sans-serif;
  width: 97% !important;
  min-height: 480px;
  padding: 10px;
  font-size: 16px;
  border-radius: 2px;
  overflow-y: auto;
  resize: vertical;
  border: 1px solid var(--Colours-Neutral-Neutral-4, #4B5E68);
  background: var(--Colours-Neutral-Neutral-2, #252F34);
  color: white;
}

input:focus, 
textarea:focus{
  outline: none !important;
  border-color: transparent;
}

.with-background{
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.30);
  padding: 0;
  padding-left: 32px;
  padding-top: 32px;
}

.top-container {
  perspective: 1000px; /* needed for real 3D effect */
}

.spin-icon {
  margin-top: 32px;
  height: 64px;
  animation: spinLR 4s linear infinite;
  transform-style: preserve-3d;
  position: relative;
  left:50%;
  top:50%;
  transform: translate(-64px, 0);
}

@keyframes spinLR {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}