<div class="header">
  <img src="assets/logo.png" alt="Your Icon" class="top-icon" />
</div>

<div class="container">
  <div class="slogan">
    <h3>Hello, beautiful human.</h3>
    <p>Place a video link or upload a video</p>
  </div>

  <!-- New file selector with text box and upload icon button -->
  <div class="file-selector">
    <input
      #fileInput
      type="text"
      [(ngModel)]="filePath"
      placeholder="Enter video URL or click to upload"
      (blur)="onFileBlur()"
    />
    <button (click)="triggerFileSelection()" class="upload-btn">
      <i class="fa-solid fa-arrow-up-from-bracket"></i>
    </button>
  </div>

  <div *ngIf="randRoll !== null" class="rand-roll">
    randRoll: {{ randRoll }}
  </div>

  <div *ngIf="isValidVideo" class="metadata">
    <textarea rows="3" cols="40" [(ngModel)]="fileMetadata"></textarea>
  </div>

  <div *ngIf="!isValidVideo && selectedFile" class="deepfake-box">
    DEEPFAKE DETECTED!
  </div>

  <div>
    <button class="buttons" (click)="uploadVideo(fileInput)" [disabled]="!filePath || !isValidVideo">Scan</button>
  </div>
</div>
