/* You can add global styles to this file, and also import other style files */

/* Avenir Font */
@font-face {
    font-family: 'Avenir';
    src: url('/assets/fonts/Avenir-Regular.woff2') format('woff2'),
         url('/assets/fonts/Avenir-Regular.woff') format('woff'),
         url('/assets/fonts/Avenir-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  /* Inter Font */
  @font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/Inter-Regular.woff2') format('woff2'),
         url('/assets/fonts/Inter-Regular.woff') format('woff'),
         url('/assets/fonts/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  /* Set default font to Inter, fallback to Avenir */
  html {
    min-height: 100%;
    background: linear-gradient(219deg, #3C494F 22.57%, #1D2145 55.01%);
    background-attachment: fixed;
  }

  body {
    margin: 0;
    font-family: 'Outfit', sans-serif !important;
    min-height: 100%;
  }
